@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans';
}
#nav-bar {
    position:sticky;
    top:0;
    z-index: 10;
}
.navbar {
    background-image:linear-gradient(to right, #100720, #31087B);
    padding: 0!important;
}
.navbar-nav{
    margin-left:auto;
}
.navbar-brand img{
    height: 2.5rem;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: #fff !important;
    font-weight: 60;
    float:right;
    text-align: left;
}
.fa-bars {
    color: #fff;
    font-size: 30px;
}
.navbar-toggler {
    outline: none !important;
}

/*------------------------- banner section -------------------------*/

#banner {
    background-image:linear-gradient(to right, #100720, #31087B);
    padding-top: 5%;
    color: #fff;
}
.promo-title {
    font-size: 40px;
    font-weight: 60;
    margin-top: 100px;
}
.promo-body {
    font-weight: 60;
}
#banner a {
    color: #fff;
    text-decoration: none;
    font-weight: 60;
}
.fa-file-code-o {
    margin: 20px;
    color: #fff;
}
.bottom-img {
    width: 100%;
}
/*----------------------- About section -----------------*/
.about-slide {
    font-family: 'Open Sans';
    font-weight: 60;
}

/*----------------------- Projects section -----------------*/
#projects {
    
    background-image:linear-gradient(to right, #100720, #31087B);
    font-family: 'Lato', 'Open Sans';
}
#ecommerce-icon {
    color:#31087B;
}
/*
Expand image on hover 
.img-hover img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.img-hover:hover img {
    transform: scale(1.05);
}
*/